.grid{
-fx-background-image: url("../../assets/Noxus Crest.png");
-fx-background-image: url("../../assets/Demacia Crest.png");
-fx-background-image: url("../../assets/Shurima Crest.png");
    -fx-background-size: 350 350;
}
